### Miscellaneous
.DS_Store
Thumbs.db

### NPM
node_modules

### Composer
vendor/

### IDE
.idea/

### PHPCS
cs_fixer*

### Wordpress
/htdocs/cms/*
!/htdocs/cms/.gitkeep
/htdocs/content/uploads/
/htdocs/content/upgrade/

### Environment Credentials
.env
.env.*
!.env.local

### Plugins
/htdocs/content/wflogs/