### Miscellaneous
.DS_Store
Thumbs.db

### NPM
node_modules

### Composer
vendor/

### IDE
.idea/

### PHPCS
cs_fixer*

### Wordpress
/htdocs/cms/*
!/htdocs/cms/.gitkeep
/htdocs/content/uploads/
/htdocs/content/upgrade/

### Themes
/htdocs/content/themes/*
!/htdocs/content/themes/meat-theme

### Environment Credentials
.env

### Plugins
/htdocs/content/plugins/*
!/htdocs/content/plugins/advanced-custom-fields-pro
/htdocs/content/wflogs/